{{#each this}}
  <div class="news_item">
    <img src="{{urlToImage}}" alt="" />
    <h2 class="news_title">{{title}}</h2>
    <p class="content">{{description}}</p>
    <p class="news_data">{{publishedAt}}</p>
    <a href="{{url}}" class="news_link">{{author}}</a>
  </div>
{{/each}}